.App {
  background-color: rgb(186,73,73,1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;  
}

.Navbar{
  width: 80vw;
}

.NavbarLogoAnchor{
  text-decoration: none
}

.NavbarLogo{
  float:left;
  width: 20px;
}

.NavbarAppTitle{
  float: left;
  font-size: 20px;
  color: white;
  padding-left: 0.5vw;
}

.TimerComponent{
  font-size: 5vw;
  font-weight: bold;
  margin-top: 20px;
}

#TimerBackgroundBox{
  position: relative;
  background-color: rgba(255, 255, 255, 0.15);
  align-items: center;
  text-align: center;
  height: 33vh;
  max-width: 480px;
  width: 85vw;
  margin: auto;
  margin-bottom: 50vh;
  border-radius: 5px;
}